<!-- 템플릿 변수 -->
{{>layouts/header}} <!-- 경로변수는 앞에 < 붙여야함 -->
<!-- contents -->
<div class="bg-dark text-white p-5">
    <!-- 머스태치에서 변수는 중괄호를 두개 사용한다 -->
    <h1>{{username}}님, 또 만나요.</h1>
</div>
{{>layouts/footer}}