{{>layouts/header}}
<!-- contents -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    </tbody>
</table>
<a href="/articles" class="btn btn-info">Write List</a>
<a href="/article/update/{{id}}" class="btn btn-primary">Update Write</a>
<a href="/articles/{{id}}/delete" class="btn btn-danger">Delete Write</a>
{{/article}}
{{>comments/_comments}}
{{>layouts/footer}}